:root {
    --black: #222224;
    --red: #FF3D00;
    --blue: #00B0FF;
    --yellow: #FFCB05;
    --white: #fff;
    --gray: #84858c;

    --normal: #aa9;
    --grass: #7c5;
    --water: #39f;
    --fire: #f42;
    --electric: #fc3;
    --flying: #89f;
    --ghost: #66b;
    --poison: #a59;
    --ice:  #6cf;
    --steel: #aab;
    --ground: #db5;
    --dragon: #76e;
    --fighting: #b54;
    --rock: #ba6;
    --psychic: #f59;
    --dark: #754;
    --bug: #ab2;
    --fairy: #e9e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.section {
    /* min-height: 100%; */
    min-height: 100vh;
}

.section .container {
    padding-top: 3.90rem;
    padding-bottom: 3.90em;
}

.container {
    margin: auto;
    overflow: hidden;
    max-width: 1300px;
}



.btn-login {
    padding: .5em 1.25em;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: .3em;
    transition: all .1s ease;
    cursor: pointer;
}

.btn-login:hover {
    background-color: var(--white);
    color: var(--black);
}

.btn-tertiary {
    position: relative;
    background-color: transparent;
    border: 1px solid var(--black);;
    color: var(--black);;
    transition: all .1s ease;
    cursor: pointer;
    margin-top: 3em;
    width: 150px;
    padding: 1em 2em;
    text-align: center;
    /* border-radius: .3rem; */
    z-index: 1;
}

.btn-tertiary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    /* border-radius: .2rem; */
    background-color: var(--black);
    transition: all .3s ease;
    z-index: -1;
}

.btn-tertiary:hover::before {
    width: 100%;
}

.btn-tertiary:hover {
    color: var(--white);
}


.input:focus,
.input:focus-within {
    outline: none;
}










/* NAVBAR PAGE STYLES */

header {
    width: 100%;
    background: var(--black);    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.sidebar-li {
    color: var(--black);
}

.sidebar-li a:hover {
    color: var(--white);
    background-color: #3b3b3e;
}

.custom-li a:hover {
    background-color: #3b3b3e;
}


.line-li a {
    position: relative;
    background-color: transparent !important;
}

.line-li a:focus{
    color: var(--white);
}

.line-li a:before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: var(--white);
    border-radius: 1em;
    transition: all .5s ease;
}

.line-li a:hover::before {
    width: 100%;
}




/* HOME PAGE STYLES */

.home-section {
    position: relative;

}

.home-section .container {
    margin: auto;
    overflow: hidden;
    max-width: 1300px;
}

.home-container {
    position: relative;
    flex: 0 0 50%;
    max-width: 0 0 50%;
    padding: 1em;
    z-index: 3;
}

.home-item {
    width: 100%;
    /* height: 100%; */
    height: 600px;
    padding: 2rem;
}

.home-item.text {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
}

.home-text {
    line-height: 2;
    margin-bottom: 2rem;
    width: 100%;
}

.home-text h1 {
    font-size: 2.5em;
}

.home-logo {
    display: flex;
    width: 100%;
}

.home-logo img {
    width: 250px;
    height: 100%;
    margin-bottom: 2em;
}

.home-item.image img{
    height: 500px;
    filter: drop-shadow(20px 20px 4px var(--black));
}

.custom-bg {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.circle {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--white);
    border: 30px solid #c9c9c9;
    border-radius: 50%;
    z-index: 2;
}

.line {
    content: '';
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: #c9c9c9;
    z-index: 1;
}




/* VIDEO CONTAINER */

.video-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.video-container {
    flex: 0 0 calc(100% / 2);
    max-width: 0 0 calc(100% / 2);
    padding-right: 1em;
}

.video-item {
    position: relative;
    width: 100%;
    height: 150px;
    cursor: pointer;
    /* border-radius: .5em; */
    z-index: 1;
}

.bg-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white);
    /* border-radius: .5em; */
    opacity: 0;
    transition: all .4s ease;
    z-index: 2;
}

.video-item:hover .bg-overlay {
    opacity: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: .5em; */
}







/* SECOND SECTION */

.starter-section {
    position: relative;
}

.section-title {
    margin: 2em auto;
    width: 50%;
    line-height: 1.5;
}

.section-title h1 {
    text-transform: uppercase;
}

.starter-container {
    flex: 0 0 calc(100% / 2);
    max-width: 0 0 calc(100% / 2);
}

.bullets-container {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.bullets-container::before {
    content: '';
    position: absolute;
    width: 850px;
    height: 1px;
    top: 50%;
    background-color: var(--gray);
    z-index: 0;
}

.bullets {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--gray);
    border-radius: 50%;
    cursor: pointer;
}

.bullets.active {
    background-color: var(--black);
}

.bullets.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--white);
    border: 2px solid var(--black);
    z-index: -1;
}

.types-img img{
    width: 100%;
    height: 100%;
}

.types-title span {
    font-size: .75em;
}

.pokemon-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pokemon-item:before {
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.carousel-item.carousel-home {
    width: 100%;
    height: 100%;
    display: none;
}

.carousel-item.carousel-home img {
    width: 300px;
    height: 300px;
}

.carousel-item.carousel-home.active {
  display: block;
  transition: all 4s ease;
}

.icon-wrapper {
    width: 30px;
    height: 30px;
}

.icon-wrapper.grassFill svg path {
    fill: var(--grass);
}

.icon-wrapper.waterFill svg path {
    fill: var(--water);
}

.icon-wrapper.fireFill svg path {
    fill: var(--fire);
}

.icon-wrapper svg {
    width: 100%;
    height: 100%;
}

.icon-wrapper svg path {
  fill: gray;
}

.grassBG {
    background: hsla(180, 44%, 39%, 1);
    background: linear-gradient(180deg, hsla(180, 44%, 39%, 1) 0%, hsla(160, 64%, 66%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(180, 44%, 39%, 1) 0%, hsla(160, 64%, 66%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(180, 44%, 39%, 1) 0%, hsla(160, 64%, 66%, 1) 100%);
}

.waterBG {
    background: hsla(191, 52%, 34%, 1);
    background: linear-gradient(180deg, hsla(191, 52%, 34%, 1) 0%, hsla(188, 39%, 70%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(191, 52%, 34%, 1) 0%, hsla(188, 39%, 70%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(191, 52%, 34%, 1) 0%, hsla(188, 39%, 70%, 1) 100%);
}

.fireBG {
    background: hsla(9, 72%, 55%, 1);
    background: linear-gradient(180deg, hsla(9, 72%, 55%, 1) 0%, hsla(26, 99%, 63%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(9, 72%, 55%, 1) 0%, hsla(26, 99%, 63%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(9, 72%, 55%, 1) 0%, hsla(26, 99%, 63%, 1) 100%);
}

.electricBG {
    background: hsla(47, 100%, 50%, 1);
    background: linear-gradient(180deg, hsla(47, 100%, 50%, 1) 0%, hsla(53, 90%, 55%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(47, 100%, 50%, 1) 0%, hsla(53, 90%, 55%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(47, 100%, 50%, 1) 0%, hsla(53, 90%, 55%, 1) 100%);
}

.flyingBG {
    background: hsla(39, 39%, 69%, 1);
    background: linear-gradient(180deg, hsla(39, 39%, 69%, 1) 0%, hsla(52, 79%, 84%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(39, 39%, 69%, 1) 0%, hsla(52, 79%, 84%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(39, 39%, 69%, 1) 0%, hsla(52, 79%, 84%, 1) 100%);
}

.ghostBG {
    background: hsla(282, 17%, 19%, 1);
    background: linear-gradient(180deg, hsla(282, 17%, 19%, 1) 0%, hsla(270, 48%, 45%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(282, 17%, 19%, 1) 0%, hsla(270, 48%, 45%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(282, 17%, 19%, 1) 0%, hsla(270, 48%, 45%, 1) 100%);
}

.hover-scale:hover img {
    transform: scale(1.1);
}




/* POKEDEX PAGE STYLES */

.pokedex-section {
    position: relative;
}

.pokedex-section .container {
    margin: auto;
    overflow: hidden;
    max-width: 1300px;
    margin-top: 3.5em;
}

.pokedex-container {
    flex: 0 0 calc(100% / 4);
    max-width: 0 0 calc(100% / 4);
    padding: 1em;
}

.pokedex-item {
    width: 100%;
    height: 300px;
    padding: 2em;
}


.tryGrass {
    background: var(--grass);
    background-image: url(../Assets/img/types/grass.svg);
    background-position: 45% 55%;
    background-repeat: no-repeat;
    background-size: 14px;
}

.tryWater {
    background: var(--water);
    background-image: url(../Assets/img/types/water.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.tryFire {
    background: var(--fire);
    background-image: url(../Assets/img/types/fire.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.tryElectric {
    background: var(--electric);
    background-image: url(../Assets/img/types/electric.svg);
    background-position: 45% 55%;
    background-repeat: no-repeat;
    background-size: 14px;
}



/* POKEMON ICONS WITH BACKGROUNDS */
.normalIcon {
    background: var(--normal);
    background-image: url(../Assets/img/types/normal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.grassIcon {
    background: var(--grass);
    background-image: url(../Assets/img/types/grass.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.waterIcon {
    background: var(--water);
    background-image: url(../Assets/img/types/water.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.fireIcon {
    background: var(--fire);
    background-image: url(../Assets/img/types/fire.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.electricIcon {
    background: var(--electric);
    background-image: url(../Assets/img/types/electric.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.flyingIcon {
    background: var(--flying);
    background-image: url(../Assets/img/types/flying.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.ghostIcon {
    background: var(--ghost);
    background-image: url(../Assets/img/types/ghost.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.iceIcon {
    background: var(--ice);
    background-image: url(../Assets/img/types/ice.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.steelIcon {
    background: var(--steel);
    background-image: url(../Assets/img/types/steel.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.groundIcon {
    background: var(--ground);
    background-image: url(../Assets/img/types/ground.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.dragonIcon {
    background: var(--dragon);
    background-image: url(../Assets/img/types/dragon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.darkIcon {
    background: var(--dark);
    background-image: url(../Assets/img/types/dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.fightingIcon {
    background: var(--fighting);
    background-image: url(../Assets/img/types/fighting.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}


.rockIcon {
    background: var(--rock);
    background-image: url(../Assets/img/types/rock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.poisonIcon {
    background: var(--poison);
    background-image: url(../Assets/img/types/poison.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.psychicIcon {
    background: var(--psychic);
    background-image: url(../Assets/img/types/psychic.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.bugIcon {
    background: var(--bug);
    background-image: url(../Assets/img/types/bug.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.fairyIcon {
    background: var(--fairy);
    background-image: url(../Assets/img/types/fairy.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}




/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
  /* padding: 1em 0 !important; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
}

.swiper-slide img {
  display: block;
}


.btn-swiper {
    position: relative;
    background-color: transparent;
    border: 1px solid var(--black);;
    color: var(--black);;
    transition: all .1s ease;
    cursor: pointer;
    width: 150px;
    padding: 1em 2em;
    text-align: center;
    z-index: 1;
}

.btn-swiper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    /* border-radius: .2rem; */
    background-color: var(--black);
    transition: all .3s ease;
    z-index: -1;
}

.btn-swiper:hover::before {
    width: 100%;
}

.btn-swiper:hover {
    color: var(--white);
}




/* TRADING CARD PAGE STYLES */
.tradingcard-section {
    position: relative;
}

.tradingcard-section .container {
    margin: auto;
    overflow: hidden;
    max-width: 1300px;
    padding: 1em;
    margin-top: 4em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.card-container {
    flex: 0 0 calc(100% / 4);
    max-width: 0 0 calc(100% / 4);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    position: relative;
    width: 238.110px;
    height: 332.598px;
    border-radius: .5em;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.1s ease;
    /* transition: transform 0.8s; */
    perspective: 1000px;
    border-radius: .5em;
    will-change: transform, filter;
    transform-origin: center;
    transform-style: preserve-3d;
}

.card-container.flipped .front {
    transform: rotateY(-180deg);
    opacity: 0;
}

.card-container.flipped .back {
    transform: rotateY(0deg);
    opacity: 1;
}

.front, .back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .5rem;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 3;
}

.front {
    background: transparent;
}

.back {
    transform: rotateY(180deg);
}

.front img {
    width: 100%; 
    height: 100%;
    object-fit: cover;

}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
}

.front.sparkles:before,
.front.sparkles:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    /* mix-blend-mode: soft-light; */
    transition: all .33s ease;
    border-radius: .5rem;
}

.front.sparkles:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
        115deg,
        transparent 0%,
        rgb(0, 231, 255) 25%,
        transparent 47%,
        transparent 53%,
        rgb(255, 0, 231) 75%,
        transparent 100%
    );
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
}

.front.sparkles:after {
    opacity: 1;
    background-image: url("../Assets/img/bg/sparkles.gif"),
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
}









@media only screen and (max-width:968px) {

   .pokedex-container, 
   .card-container {
        flex: 0 0 50%;
        max-width: 50%;
   }

    .navbar-item ul {
        display: none;
    }


}

@media only screen and (max-width:768px) {

    .navbar-item {
        width: 100%;
    }

    .home-item.text, .home-logo {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-container,
    .card-container,
    .starter-container,
    .pokedex-container {
        flex: 0 0 100%;
        max-width: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

}